h1 {
 background-color: aquamarine;
 font-size: x-large;
 color: chocolate;
 font-style: italic;
}

p{
 color: darkgoldenrod;
 font-size: large;
 width: fit-content;
}

.dropdown-toggle {
            margin-left: auto;
        }