{% extends 'myapp/base.html' %}
{% block body_block %}
    {% if cat_list %}
    <h2>List of Categories</h2>
        <div style="margin-right: 800px" class="list-group">
            {% for cat in cat_list %}
            <a class="list-group-item list-group-item-action" href="{%  url 'myapp:detail' cat.id %}">{{ cat.name }}</a>
            {% endfor %}
        </div>
    {% else %}
        <strong>There are no available categories!</strong>
    {% endif %}
    {% if request.session.last_login %}
        <p>Last login - {{ request.session.last_login }}</p>
    {% else %}
        <p>Your last login was more than one hour ago</p>
    {% endif %}
{% endblock %}