{% extends 'myapp/base.html' %}
{% block title %}
    Login
{% endblock %}
{% block myhdg %}
{% endblock %}
{% block body_block %}
    <div>
        <form action="/myapp/login/" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}
{% block login_urls %}
    <b><a href="{% url 'myapp:register' %}">Register here</a></b>
    <b><a href="{% url 'password_reset' %}">Forgot Password</a></b>
{% endblock %}
