{% extends 'myapp/base.html' %}
{% block body_block %}
    {% if prod_list %}
    <h2>List of Products that are available</h2>
    <div style="margin-right: 800px" class="list-group">
        {% for prod in prod_list %}
         {% if prod.available %}
             <a class="list-group-item list-group-item-action" href="{%  url 'myapp:product_detail' prod.id %}">{{ prod.name }}</a>
         {% endif %}
     {% endfor %}
    </div>
        <br>
    <button class="btn btn-primary"><a style="color: white" href="{% url 'myapp:place_order' %}">Place an order</a></button>
    {% endif %}
{% endblock %}